@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Software Tracker</h1>
    <p class="lead">Software tracker is an ASP.NET MVC app that allows you to record data on installed software.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Info</h2>
        <p>
            Software tracker is an app that enables you to keep track of installed software on your computers.
            App allows you to register Computers, keep track of their additional parts such as Web Cams, Printers etc.
            It allows you to keep a list of available software and to record what software is installed on which computer.

        </p>
    </div>
    <div class="col-md-4">
        <h2>Technology</h2>
        <p>
            Software tracker was built with ASP.NET MVC 5 and the app is hosted in Microsoft Azure Cloud. Application
            uses MVC 5 concepts such as Code First Migrations for database, Scaffolding for generating Controllers nad Views
            and ASP.NET Identity for managing application users as well as JQuery Ajax Methods for dynamic content loading.
        </p> 
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <address>
            <strong>Author: </strong> <span>Ilija Divljan</span><br/>
            <strong>Email: </strong> <a href="mailto:ilijadivljan@yahoo.com">ilijadivljan@yahoo.com</a><br/>
            <strong>LinkedIn: </strong> <a href="https://ba.linkedin.com/in/ilijadivljan">ba.linkedin.com/in/ilijadivljan</a><br />
        </address>
    </div> 
</div>